<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=h1, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Request</h1>
    <form action="" method="POST">
      <div>
        <label for="id">id</label>
        <input type="text" name="id" id="id" />
      </div>
      <div>
        <label for="gender">gender</label>
        <input type="text" name="gender" id="gender" />
      </div>
      <div>
        <label for="age">age</label>
        <input type="text" name="age" id="age" />
      </div>

      <div>
        <label for="yearsOfEnglish">Years Of English</label>
        <input type="text" name="yearsOfEnglish" id="yearsOfEnglish" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
